@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NotoSans-Regular;
  src: url(/public/fonts/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NotoSans-Bold;
  src: url(/public/fonts/Noto_Sans/NotoSans-Bold.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(/public/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Manrope-Bold;
  src: url(/public/fonts/Manrope/Manrope-Bold.ttf);
}

body {
  margin: 0;
  font-family: "NotoSans-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-k-darkblue;
}
